.border {
    border: 10px solid red;
    /* border-bottom: 2px solid red; */
}

.outline {
    outline: 10px solid red;
}

button {
  font-size: 1.4rem;
  border: 0;
  background: 0;
  cursor: pointer;
  padding: .5em 1em;
}














:root {
  --ff-primary: basic-sans, sans-serif;
  --clr-primary: #ee6352;
  --clr-body: #333;
  --clr-bg: #ddd;
  --spacer: 1rem;
} 

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin: 0;
}

img {
  max-width: 100%;
}

.split {
  display: flex;
  gap: 2em;
  justify-content: space-around;
}

.flow > * + * {
  margin-top: var(--flow-space, var(--spacer));
}

body{ 
  font-family: var(--ff-primary);
  font-size: 1.125em;
  line-height: 1.6;
  color: var(--clr-body);
  background: var(--clr-bg);
  padding: 3em;

}
a {
  color: var(--clr-primary);
}

.content {
  width: 70vw;
  margin: 3rem auto;
  padding: 3em;
  box-shadow: 0 0 3em rgba(0,0,0,.15);
  background: white;
}

.title {
  font-weight: 900;
  color: var(--clr-primary);
  line-height: .8;
  text-align: center;
}
