.child-one {
  position: relative;
  /* top: -10px;
    left: -20px;
    right: 20px; */
  /* bottom: 10px; */
  
}
.parent {
  height: 200vh;
}

.child-two{
    position: sticky;
    top: 50px;
    /* left: 30px; */
}

/* .child-three{

} */
